* {
    padding: 0;
    margin: 0;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    .up-down-component {
        display: flex;
        flex-direction: row;

        div {
            padding: 5px 10px;
            font-size: 18px;
            font-weight: bold;
        }

        .control {
            width: 16px;
            border-radius: 5px;
            background-color: blue;
            color: white;
            text-align: center;
            cursor: pointer;
        }
    }
}
